# Compiled class files
*.class

# Package Files
*.jar

# IDE-specific files (e.g., Eclipse, IntelliJ IDEA, VS Code)
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.vscode/
.code-workspace

# Maven build artifacts
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
